

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:  1rem;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(16, 2, 45, 1) 0%,
    rgba(33, 3, 61, 1) 100%
  );

}

.logo {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  object-position: center;
  display: block;
}

.app-header h1 {
  font-size: 3rem;
  margin: 0.5rem 0 0;
}

.app-header .subtitle {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
  max-width: 60ch;
}
h1{
     background: -webkit-linear-gradient(180deg, #0086fe,#5e386a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
